{% extends 'TestProject/base.html' %}
{% load staticfiles %}
{% block title %}Личный кабинет{% endblock %}
empty = []
{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    </head>
    <body>
        <form>
        {% csrf_token %}
        <div>

           <div class="main-content">
        <article>
        <header>
            <h1>Приветствую,{{ user }}</h1>
                <img src={% static 'images/line.jpg' %}>
        </header>

            {% if not TestUser %}
                <div class="UserDontHaveTests">
                    <h2>Сейчас нет тестов, которые вы можете пройти</h2>
                </div>
            {% else  %}
                {% for test in TestUser %}
                    <h2>Вам доступен тест</h2>
                    <img src={% static 'images/pencil.jpg' %} align="left">
                    <h3>{{ test }}</h3>
                    <h8 class="test_time">Длительность теста: {{ test.get_time }} минут</h8>
                    <p></p>
                    <a href="#" class="btnStartTest">Начать</a>
                     <div class="an"></div>
                {% endfor %}
              {% endif %}
            </article>
            </div>


    <aside class="sidebar">
        <div>
            <h2>История</h2>
                {% block history_table %}
                    <table class="simple-little-table" cellspacing='0'>
                        <tr>
                            <th>Название теста </th>
                            <th>Выполнен</th>
                            <th>Оценка</th>
                        </tr><!-- Table Header -->

                        <tr>
                            <td>Where</td>
                            <td>100%</td>
                            <td>5</td>
                        </tr><!-- Table Row -->

                        <tr>
                            <td>SubRequests</td>
                            <td>100%</td>
                            <td>4</td>
                        </tr><!-- Darker Table Row -->

                        <tr>
                            <td>StoredProcedures</td>
                            <td>20%</td>
                            <td>2</td>
                        </tr>

                        <tr>
                            <td>Итог(ср)</td>
                            <td>80%</td>
                            <td>4</td>
                        </tr>
                    </table>
                {% endblock %}
        </div>
    </aside>
</div>
</form>
</body>
    <a href="{% url 'auth_logout' %}" class="btnExit">ВЫХОД</a>
    {% if user.is_superuser %}
        <br><br><br><a href="/admin/">Войти в панель администратора</a></br></br></br>
    {% endif %}
{#    <h1><a href="{% url 'auth_logout' %}">выйти</a>.<br/><br/></h1>#}
{#    <input type="button" class="knopka01" value="ВЫХОД" >#}
{% endblock %}