{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/jet/css/vendor.css?v=1.0.5" />
    <link rel="stylesheet" type="text/css" href="/static/jet/css/icons/style.css?v=1.0.5" />
    <link rel="stylesheet" type="text/css" href="/static/jet/css/themes/default/base.css?v=1.0.5" class="base-stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/jet/css/themes/default/select2.theme.css?v=1.0.5" class="select2-stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/jet/css/themes/default/jquery-ui.theme.css?v=1.0.5" class="jquery-ui-stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/tests.css' %}" />
<script src="{% static 'js/sweetalert2.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/sweetalert2.min.css' %}">
<script src="{% static 'js/sweet-alert.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/sweet-alert.css' %}" />
<script type="text/javascript" src="{% static 'js/shortcut.js' %}"></script>
<script type="text/javascript" src="{% static 'js/cookie.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        var DATE_FORMAT = "%d.%m.%Y";
        var TIME_FORMAT = "%H:%M:%S";
        var DATETIME_FORMAT = "%d.%m.%Y %H:%M:%S";
    </script>
    <script type="text/javascript" src="/jet/jsi18n/"></script>
    <script src="/static/jet/js/build/bundle.min.js?v=1.0.5"></script>
    <script src="/static/jet/js/i18n/jquery-ui/datepicker-ru.js?v=1.0.5"></script>
    <script src="/static/jet/js/i18n/jquery-ui-timepicker/jquery.ui.timepicker-ru.js?v=1.0.5"></script>
    <script src="/static/jet/js/i18n/select2/ru.js?v=1.0.5"></script>
        <script src="{% static 'js/Chart.bundle.js' %}"></script>
        <script src="{% static 'js/Chart.js' %}"></script>

    <meta name="robots" content="NONE,NOARCHIVE" />
<div class="main">
  <div class="header">
    <div class="brending">
            <p style="vertical-align: middle;" id="test_name"></p>
    </div>
    <div class="clock" style="padding-top: 12px;">
        <p>
            <img src="{% static 'images/clock_white_flaticon.png' %}">
            <a id="clock" style="color: #ffffff;"> 00:00</a>
        </p>
    </div>
    <div class="step"></div>
        <p style="color: #ffffff; text-align: center; padding-top: 12px;">
            <img src="{% static 'images/steps_white_flaticon_32.png' %}">
            <a id="step" style="color: #ffffff;"> 0/0</a>
        </p>
  </div>
  <div class="sidebar2">
    <div class="task_area">
        <table class="scrolling-table" id="task_table">
            <thead>
            <tr>
                <th style="text-align: center; width: 100%;">Задания</th>
            </tr>
            </thead>
            <tbody>
            {% for test in GTest%}
                <tr>
                    <td style="position: relative;">
                        <input id="id_{{ test.get_task.get_id }}" style="text-align: left; max-width: 234px;" type="button" class="task" value="{{ test.get_task.get_name}}" title="{{ test.get_task.get_name}}" onclick="getTask({{ test.get_task.get_id }})">
                        <img class="flag" id="flag_id_{{ test.get_task.get_id }}" src="{% static 'images/flag.png' %}" style="position: absolute; left: 91%; top: 17px; visibility: hidden;">
                    </td>
                </tr>
            {%endfor%}
            </tbody>
        </table>


    </div>
    <div class="btn_endTest">
        <button id="btn_endTest" onclick="preEndTest()" class="button" type="submit" name="index" value="0" style="text-align: center;">Завершить тест</button>
    </div>
  </div>
  <div class="content">
    <div class="first_col">
      <div class="first_row">
        <div class="ta_teacher">
          <textarea id="teacher_textarea" readonly></textarea>
        </div>
        <div class="btn">
        <input type="button" value="Обзор схемы БД" id="viewSchema" onclick="GetDBSchema()">
        </div>
      </div>
      <div class="second_row">
       <table id="teacher_table" class="data_table">
           <thead>
           <tr  id="teacher_table_head"></tr>
           </thead>
           <tbody id="teacher_table_body">

           </tbody>
        </table>
      </div>
    </div>
    <div class="second_col">
      <div class="first_row">
        <div class="ta_teacher">
            <textarea id="teacher_textarea" class="user_textarea"></textarea>
        </div>
        <div class="btn">
            <input type="button" value="Выполнить (Alt+Enter)" id="take_answer" onclick="FillUserTable()">
            <input type="button" value="Отметить задание" id="MarkAsFlag" onclick="markTaskFlag(CurrentTaskID)">

        </div>
      </div>
      <div class="second_row">
{#        <table class="test_table">#}
{#            <thead>#}
{#            </thead>#}
{##}
{#        </table>#}
       <table id="user_table" class="data_table">
           <thead>
            <tr id="user_table_head">
            </tr>
           </thead>
           <tbody id="user_table_body">
           </tbody>
        </table>
      </div>

    </div>
  </div>
</div>





<script>
    {% load tz %}
    {{ value|localtime }}

    //working variables
    var CurrentTaskID = 0;
    var Answers = {};
    var CompletedTasks=[];
    var FlagTasks=[];
    var TaskButton = document.getElementsByClassName('task');
    var flags = document.getElementsByClassName('flag');

    //teacher_elements
    var TeacherTextArea = document.getElementById('teacher_textarea');
    var TeacherTable = document.getElementById('teacher_table');
    var TeacherTableHead = document.getElementById('teacher_table_head');
    var TeacherTableBody = document.getElementById('teacher_table_body');
    var ButtonDBSchema = document.getElementById('viewSchema');

    //user_elements
    var UserTextArea = document.getElementsByClassName('user_textarea')[0];
    var UserTable = document.getElementById('user_table');
    var UserTableHead = document.getElementById('user_table_head');
    var UserTableBody = document.getElementById('user_table_body');
    var TakeAnswer = document.getElementById('take_answer');
    var TestName = document.getElementById('test_name');
    var CountOfCompletedTasks = document.getElementById('step');

    //calls are initials functions for cookie and some other data
    fillBrowserData();
    FillInitialTask();
    FillUserTextArea();
    FillTestName();
    ActivateTaskButton();
    shortcut.add("Alt+Enter", function() {
        FillUserTable();
    });


    //clock function
    var intervalID = window.setInterval(function () {
        var user_start = new Date("{{ time | date:"c" }}").getTime();
        var TestTime = 0;
        {% for test in GTest %}
            TestTime = {{ test.get_test.get_time }};
        {% endfor %}
        TestTime = TestTime * 60000;
        var now = new Date().getTime();
        var new_new = new Date(user_start + TestTime - now);
        if (new_new.getTime() < 0) {
            clearInterval(intervalID);
            endTest();
            swal({
                    title: "Упс!",
                    text: "Время прохождения теста истекло.",
                    type: "error",
                    showCancelButton: false,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ok",
                    closeOnConfirm: false
                },
                function () {
                    window.location = '/';
                });
        }
        var clock = document.getElementById('clock');
        clock.innerText = " "+new_new.getMinutes() + ":" + new_new.getSeconds();
    }, 1000);
    UserTextArea.onkeypress = function (e) {
            e = e || event;
            var chr = getChar(e);
            if(chr) {
                if (getCookie('task ' + CurrentTaskID)) {
                    //Если такая кука есть
                    deleteCookie('task ' + CurrentTaskID);
                }
                var cookie_data = new Date();
                var expire = cookie_data.toLocaleDateString('Omsk')+' '+cookie_data.getHours()+1+':'+cookie_data.getMinutes()+':'+cookie_data.getSeconds();

                setCookie('task ' + CurrentTaskID, UserTextArea.value + chr,'expires='+expire);
                Answers['taskID '+CurrentTaskID] = UserTextArea.value + chr;
            }
        };
    
    //initials functions
    function fillBrowserData() {
        {% for test in GTest %}
            //Answers
            if(getCookie('task '+{{ test.get_task.get_id }}))
                Answers['taskID '+{{ test.get_task.get_id }}]=getCookie('task '+ {{ test.get_task.get_id }});
            else
                Answers['taskID '+ {{ test.get_task.get_id }}] = "";

            //Flags
            if(getCookie('task_' + {{ test.get_task.get_id }} + '_is_flag')) {
                FlagTasks.push({{ test.get_task.get_id }});
                markTaskFlag({{ test.get_task.get_id }});
            }

            //Completed tasks
            if(getCookie('task_'+ {{ test.get_task.get_id }} +'_is_completed'))
                CompletedTasks.push({{ test.get_task.get_id }});
        {% endfor %}

        CountOfCompletedTasks.innerHTML = CompletedTasks.length+'/'+flags.length;
    }
    function FillInitialTask() {
        {% for test in GTest reversed%}
            CurrentTaskID = {{ test.get_task.get_id }};
            FillTeacherTextArea({{ test.get_task.get_id }});
            FillTeacherTable({{ test.get_task.get_id }});

        {% endfor %}
    }
    function FillTestName() {
        var str = "";
        {% for test in GTest %}
            str = '{{ test.get_test }}';
        {% endfor %}
        TestName.innerHTML = str;
    }

    //working functions
    function getTask(task_id) {
        Answers['taskID '+CurrentTaskID]=UserTextArea.value;

        if(Answers['taskID '+task_id] !== "") {
            UserTextArea.value = "";
            UserTextArea.value = Answers['taskID ' + task_id];
        }
        else
            UserTextArea.value = "";
        {% for test in GTest %}
            if ({{ test.get_task.get_id }} === task_id){
                if(task_id !== CurrentTaskID) {
                    ClearUserTable();
                    CurrentTaskID = task_id;
                    FillTeacherTextArea(task_id);
                    FillTeacherTable(task_id);
                    FillUserTextArea();

                }

            }
        {% endfor %}
    }
    function endTest() {
            var saved_cookies = document.cookie;
            var split_saved_cookies = saved_cookies.split(";");
            for(var i=0;i<split_saved_cookies.length;i++){
            split_saved_cookies[i] = split_saved_cookies[i].substring(0,split_saved_cookies[i].indexOf('='));
            if(split_saved_cookies[i]!=='csrftoken')
                deleteCookie(split_saved_cookies[i]);
            Answers['end Test']='True';
        }
                $.ajax({
                    beforeSend: function (jqXHR) {
                        jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
                    },
                    url: window.location.href,
                    data: JSON.stringify(Answers),
                    type: 'POST',
                    contentType: 'application/json',
                    success: function (data) {
                        if (data['status'] === 'ok') {
                        }
                    },
                    error: function (data) {
                    }
                });
    }
    function getChar(event) {
        if (event.which === null) {
            if (event.keyCode < 32) return null;
            return String.fromCharCode(event.keyCode)
        }

        if (event.which !== 0 && event.charCode !== 0) {
            if (event.which < 32) return null;
            return String.fromCharCode(event.which)
        }
        return null;
    }
    function ActivateTaskButton() {
        TaskButton[0].innerHTML = "<img src=\"{% static 'images/success.png' %}\">";
{#        TaskButton[0].setAttribute('style','background-color: #c4ecc5; background-bottom-color: #cfevc1;');#}
    }
    function preEndTest() {
        swal({
              title: "Вы уверены, что хотите завершить тест?",
              text: "У вас не будет возможности пройти его заново.",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#dd6b55",
              confirmButtonText: "Да, завершить.",
                cancelButtonText: "Отмена",
              closeOnConfirm: false
            },
            function(){
                endTest();
                swal({
                  title: "Спасибо!",
                  text: "Ваши ответы отправлены.",
                  type: "success",
                  showCancelButton: false,
                  confirmButtonColor: "#DD6B55",
                  confirmButtonText: "Ok",
                  closeOnConfirm: false},
                function(){
                    window.location = '/';
                });
            }
            );
    }
    function markTaskFlag(task_id) {
        for(var i=0;i<flags.length;i++)
            if(flags[i].id === 'flag_id_'+task_id)
                if(flags[i].style.visibility === "hidden") {
                    flags[i].style.visibility = 'visible';
                    FlagTasks.push(task_id);
                    setCookie('task_'+task_id+'_is_flag','True');
                }
                else {
                    flags[i].style.visibility = 'hidden';
                    for(var j=0;j<FlagTasks.length;j++)
                        if(FlagTasks[j] === task_id) {
                            FlagTasks[j] = "";
                            deleteCookie('task_'+task_id+'_is_flag')
                        }
                }
        FillCountOfReallyCompletedTasks();
    }
    function markTaskCompleted(task_id) {
        var taskIsCompleted = 0;
        for(var i=0;i<CompletedTasks.length;i++)
            if(CompletedTasks[i] === task_id)
                taskIsCompleted=1;
        if(taskIsCompleted === 0) {
            CompletedTasks.push(task_id);
            setCookie('task_'+task_id+'_is_completed','True');
        }
        FillCountOfReallyCompletedTasks();
    }
    function FillCountOfReallyCompletedTasks() {
        var common = 0;
        for(var i=0;i<CompletedTasks.length;i++)
            for(var j=0;j<FlagTasks.length;j++)
                if(FlagTasks[j] !== "")
                    if(FlagTasks[j] === CompletedTasks[i])
                        common ++;
        var really_count_of_completed_tasks = CompletedTasks.length-common;
        CountOfCompletedTasks.innerHTML = ' '+really_count_of_completed_tasks+'/'+flags.length;
    }

    //teacher's functions
    function FillTeacherTextArea(task_id) {
        {% for test in GTest %}
            if( {{ test.get_task.get_id }}==task_id){
                TeacherTextArea.textContent = '{{ test.get_task.get_name }}:\r\n';
                TeacherTextArea.textContent += '{{ test.get_task.get_tasktext }}';
            }
        {% endfor %}
    }
    function FillTeacherTable(task_id) {
        var data = {{ Monster | safe }};
        var table = data[task_id];
        var columns = table[0];
        var rows = table.length;
{#        var new_table = "<thead id=\"teacher_table_head\"><tr id=\"teacher_table_head_tr\"></tr></thead><tbody id=\"teacher_table_tbody\"></tbody>";;#}
        ClearTeacherTable();

        for(var i=0;i<columns.length;i++)
            TeacherTableHead.innerHTML += "<th>"+columns[i]+"</th>";
        for(var j=1;j<table.length;j++){
            TeacherTableBody.innerHTML += "<tr id=\"teacher_table_tr_"+j+"\"></tr>";
            var row = document.getElementById('teacher_table_tr_'+j);
            for(var k=0;k<table[j].length;k++)
                row.innerHTML += "<td>"+table[j][k]+"</td>";
        }
    }

    //user's functions
    function GetDBSchema() {
        var request = {};
        request[CurrentTaskID] = "GetDBSchema";

        $.ajax({
                beforeSend : function(jqXHR) {
                    jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
                },
                url: window.location.href,
                data: JSON.stringify(request),
                type: 'POST',
                contentType: 'application/json',
                success: function (data) {
                  var raw = data['image'];

                  var image = new Image();
                  image.src = "data:image/jpg;base64," + raw.substring(2,raw.length-1);

                  var new_tab = window.open("");

                  new_tab.document.write(image.outerHTML);
                  new_tab.document.title = "Обзор схемы БД";
                },
                error: function (data) {}
            });
    }
    function FillUserTable() {
        var request = {};
        request[CurrentTaskID] = UserTextArea.value;

        $.ajax({
                beforeSend : function(jqXHR) {
                    jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
                },
                url: window.location.href,
                data: JSON.stringify(request),
                type: 'POST',
                contentType: 'application/json',
                success: function (data) {
                    if(data['status']==='ok'){
                        markTaskCompleted(CurrentTaskID);
                        FillCountOfReallyCompletedTasks();
                        ClearUserTable();
                        var table = data['table'];
                        var columns = data['table'][0];

                        var rows = table.length;
                        for(var i=0;i<columns.length;i++)
                            UserTableHead.innerHTML += "<th>"+columns[i]+"</th>";

                        for(var j=1;j<table.length;j++)
                        {
                            UserTableBody.innerHTML += "<tr id=\"user_table_tr_"+j+"\"></tr>";
                            var row = document.getElementById('user_table_tr_'+j);
                            for(var k=0;k<table[j].length;k++)
                                row.innerHTML += "<td>"+table[j][k]+"</td>";
                        }
                    }
                    else if (data['status'] === 'error'){
                        var error_text = data['error'];
                        UserTableHead.innerHTML = "<th>Ошибка</th>";
                        UserTableBody.innerHTML = "<td><h2 id=\"error_text\">"+error_text+"</h2></td>";
                    }
                },
                error: function (data) {
                    console.log(data);
                }
            });
    }
    function FillUserTextArea() {
        if(getCookie('task '+CurrentTaskID))
            UserTextArea.innerText = getCookie('task '+CurrentTaskID);
    }

    //clear teacher's table functions
    function ClearTeacherTableHead() {
        TeacherTableHead.innerHTML="";
    }
    function ClearTeacherTableBody() {
        TeacherTableBody.innerHTML="";
    }
    function ClearTeacherTable() {
        ClearTeacherTableHead();
        ClearTeacherTableBody();
    }

    //clear user's table functions
    function ClearUserTableHead() {
        UserTableHead.innerHTML = "";
    }
    function ClearUserTableBody() {
        UserTableBody.innerHTML = "";
    }
    function ClearUserTable() {
        ClearUserTableHead();
        ClearUserTableBody();
    }
</script>