{% extends "admin/base.html" %}
{% load i18n %}
{% block title %} Создать тест {% endblock %}
{#{% block content_title %}Созать тест{% endblock %}#}

{% block content %}
    {% if user.is_superuser %}
        <h2>Создать новый тест</h2>
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <table class="categories table">
                <tr>
                    <th>Категория</th>
                    <th>Количество вопросов</th>
                    <th>Требуемое количество вопросов</th>
                </tr>
                {% for key,value in categoties.items %}
                    <tr>
                        <td> {{ key }}</td>
                        <td>{{ value }}</td>
                        <td><input title="input {{ key }}" type="number" size="5" value="0" max="{{ value }}" min="0"></td>
                    </tr>
                {% endfor %}
            </table>
            <br><input href="../admin" type="submit" class="save btn btn-default" value="Сохранить">
        </form>
        {% else %}
        <h2 align="center" class="permissions">Вы не имеете достаточно прав для создания теста</h2>
        <a href="../home">Вернуться на сайт</a>
    {% endif %}
{% endblock %}