{% extends "admin/base.html" %}
{% load i18n %}
{% block title %} Создать тест {% endblock %}
{% load static %}
{#{% block content_title %}Созать тест{% endblock %}#}

{% block content %}
    <script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
        <h2>Создать новый тест</h2>
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p }}
            <table class="categories table">
                <tr>
                    <th>Категория</th>
                    <th>Количество вопросов</th>
                    <th>Требуемое количество вопросов</th>
                </tr>

                {% for key,value in categoties.items %}
                    <tr>
                        <td> {{ value }}</td>
                        <td>{{ key }}</td>
                        <td><input class="input_count_tasks" id="{{value.id}}" type="number" size="5" value="0" max="{{ value }}" min="0"></td>
                    </tr>
                {% endfor %}
            </table>
{#            <br><input onclick="save()" href="../admin" type="submit" class="save btn btn-default" value="Сохранить">#}
                <br><input type="button" onclick="save()" value="Сохранить">
                <script>

                    function save() {
                        inputs = document.getElementsByClassName('input_count_tasks');
                        TestName = document.getElementById('id_Name');
                        DateActivate = document.getElementById('id_DateActivate');
                        Time = document.getElementById('id_Time');
                        Variants = document.getElementById('id_Variants');
                        ConnectDateBase = document.getElementById('select2-id_ConnectDataBase-container');
                        Options = document.getElementsByTagName('option');
{#                        console.log(Options[1].text);#}

{#                        console.log(TestName.value);#}
{#                        console.log(DateActivate.value);#}
{#                        console.log(Time.value);#}
{#                        console.log(Variants.value);#}
{#                        console.log(ConnectDateBase.title);#}
                        dict = {};
                        for (i = 0; i < inputs.length; i++) {
                            dict['TestName'] = TestName.value;
                            dict['DateActivate'] = DateActivate.value;
                            dict['Time'] = Time.value;
                            dict['Variants'] = Variants.value;
                            dict['ConnectDateBase'] = ConnectDateBase.title;
                            dict['categoryID ' + inputs[i].id] = inputs[i].value;
                        }
{#                        console.log(dict);#}
                        $.ajax({
                             beforeSend : function(jqXHR) {
                                jqXHR.setRequestHeader("x-csrftoken", '{{ csrf_token }}');
                            },
                            accept: 'text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8',
                            url: window.location.href,
                            data: JSON.stringify(dict),
                            type: 'POST',
                            dataType: 'json',
                            contentType: 'application/json',
                            success: function (data) {
                                if(data['status']=='ok') {
                                    alert('Тест создан успешно!');
                                    window.location = '/admin/TestProject/test/';
                                }
                                if(data['status']=='err'){
                                    alert('Скорее всего, вы не верно заполнили поля. Повторите попытку снова');
                                }

                            },
                            error: function (data) {
                                console.log(data);
                            }
                        });
                    }
                </script>
        </form>
{% endblock %}
