{% extends "admin/base.html" %}
{% load i18n %}
{% block title %} Создать тест {% endblock %}
{% load static %}
{% block content %}
<head>
    <script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{% static 'js/livesearch.js' %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <style>
         body { background-color:#fafafa;}
         </style>
</head>
	<body>
		<section class="content">
			<div class="container">
            <h1>Введите название группы, студента или его логин</h1>
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-search"></i></span>
					<input style="width: 95%" class="form-control" id="livesearch" placeholder="Find a user" type="text" />
                    <p></p>
				</div>
				<table class="table" id="users" style="width: 97%; ">
					<tr>
						<th class="hidden-xs">Группа</th>
						<th class="hidden-xs">Логин</th>
						<th class="hidden-xs">Имя</th>
                        <th class="hidden-xs">Последняя дата посещения</th>
					</tr>
					{% for group,students in students_list.items %}
                        {% for s in students %}
                            <tr><td>{{ group }}</td>
                            {% for key in s.values %}
                                <td>{{ key }}</td>
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
				</table>
			</div><!-- /.container -->
		</section>
	</body>

{% endblock %}

